@charset "UTF-8"; /* Encodage */

body{
	width: 100%;
	min-width:500px;
	height: 100%;
	min-height:300px;
	position: relative;
	padding-top: 40px;
}

ul, li{
	list-style: none;
}

#container{
	width: 90%;
	min-height: 600px;
	margin: auto;
}

div#lstColorsCode{
	margin-bottom: 10px;
}

#menu{
	width: 250px;
	margin-left: 20px;
	float: left;
	background-color: black;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    border-radius: 10px;
}

#MyReservationTitle{
	border : 1px solid black;
}

.btn-toolbar{
	margin: 0;
}

.colorsCode{
	width: 10px;
	height: 10px;
	float: left;
}

.content{
	width: 80%;
	min-height: 500px;
	float: right;
	padding: 2%;
}

.defaultEvent,
.defaultEvent div.fc-event-time, .defaultEvent div.fc-event-inner, .defaultEvent div.fc-event-skin{
    background-color: #005E0C !important; 	/* background color */
    border-color: #005E0C !important;     	/* border color */
    color: white !important;           	/* text color */
}

.footer{
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	width: 100%;
	height: 100px;
	text-align: center;
	float: right;
}

.header{
	width: 100%;
	text-align: center;
	background-color: #F5F5F5;
}

.hidden{
	display: none;
}

.jumbotron {
	position: relative;
	color: white;
	padding: 40px 0;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #c10016;
	background: -moz-linear-gradient(left, #c10016 0%, pink 100%);
	background: -webkit-linear-gradient(left, #c10016 0%,pink 100%);
	background: -o-linear-gradient(left, #c10016 0%,pink 100%);
	background: -ms-linear-gradient(left, #c10016 0%,pink 100%);
	background: linear-gradient(left, #c10016 0%,pink 100%);
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.mineEvent,
.mineEvent div.fc-event-time, .mineEvent div.fc-event-inner, .mineEvent div.fc-event-skin{
    background-color: #ad001d !important; 	/* background color */
    border-color: #ad001d !important;     	/* border color */
    color: white !important;           	/* text color */
}
.mineEvent:hover, .defaultEvent:hover{
	cursor: pointer;
}

.modal-backdrop, .modal-backdrop.fade.in{
	opacity: 0.9;
}

.pastEvent,
.pastEvent div.fc-event-time, .pastEvent div.fc-event-inner, .pastEvent div.fc-event-skin{
	background-color: #000000 !important; 	/* background color */
    border-color: #000000 !important;     	/* border color */
    color: white !important;           	/* text color */
    opacity : 0.7 !important; 
}

.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.table_NoData{
	text-align: center !important;
}