.icon-home,.icon-uniF470,.icon-uniF47C,.icon-contact,.icon-calendar2,.icon-automobile,.icon-at {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/sprites.png);
	background-repeat: no-repeat;
}

.icon-black{
	background-image: url(../img/sprites-black.png);
}

.icon-home {
	background-position: 0 0;
}
.icon-uniF470 {
	background-position: -28px 0;
}
.icon-uniF47C {
	background-position: -56px 0;
}
.icon-contact {
	background-position: -84px 0;
}
.icon-calendar2 {
	background-position: -112px 0;
}
.icon-automobile {
	background-position: -140px 0;
}
.icon-at {
	background-position: -168px 0;
}
