/****************************************************************************
Nom: 	styles.css
Auteur: Eliott Dupuy CIN4 2009-2013
Date:	??.??.??
But: 	Fichier des CSS personnalisées du site de gestion des élèves de l'ETML
*****************************************************************************
Modifications
Date  : 07.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison: - Ajout de cet entête
		- Correction d'un bug qui faisait que le menu déroulant ne s'affichait pas dans des fenêtres entre 768px et 979px
A faire: Clarifier et optimiser le code du responsive design.
*****************************************************************************
Modifications
Date  : 08.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison: - Clarification du code concernant les @media queries selon la taille de l'écran
		- Suppression de plusieurs éléments CSS qui ne changeait rien (sous Firefox en tout cas)
A faire: Commenter le code modifié
*****************************************************************************
Modifications
Date  : 09.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison: Commenter le code CSS modifié
A faire: -
*****************************************************************************
Modifications
Date  : 13.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison: - Ajout de la marge pour le calendrier
A faire: -
*****************************************************************************
Modifications
Date  : 17.01.2014
Auteur: James Smith - MIN3 2011-2015
Raison: - Amélioration du rendu de l'upload de documents
			- Amélioration pour les petites résolution
			- Changement de l'interface
			- Plus userfriendly
A faire: Commenter
****************************************************************************/

/****************************************************************************
Nom:	Responsive CSS
But:	Styles CSS qui s'adaptent en fonction de la résolution de l'écran
*****************************************************************************
Modifications
Date  : 08.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison: - Ajout de cet entête
		- Modification et simplification du code CSS
A faire: Commenter
*****************************************************************************
Modifications
Date  : 09.01.2014
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Raison:	- Commenter + simplication du code
A faire: -
****************************************************************************/

/****************************************************************************
Nom:	Base
But:	Styles CSS communs pour toutes les résolutions
****************************************************************************/
.stu_old{
	display: inline-block;
    float: right;
}
.colleague_phone{
    margin-left: 68px;
}
/******* birthday ******/
.Titlebirth {
    padding-bottom: 10px;
    margin-bottom: 20px;
	margin-top: 0;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid #DDD;
    font-size: 17.5px;
    color: inherit;
    text-rendering: optimizelegibility;
    /* margin-left: 30px; */
}

.birthday{
    /*margin-top:40px;*/
    font-size:11pt;
    /*margin-bottom:10px;*/
}

.birth_image {
	/*background-image:url(img/nophoto.jpg); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 55px;
}

.birthday h2{
    margin: 0px;
}
.birthday hr{
    margin:15px 20px;
}

.birthday .picture{
    width: 100%;
}

.birthday .student-container{
    position: relative;
    
}

.birthday .picture-square{
//display: block;
    width: 40px;
    /* height: 100%; */
    overflow: hidden;
    border-radius: 20px;
    //float: left;
	margin: 0 auto;

}

.birthday .list-element{
    //float: left;
    //margin:10px;
	margin-top: 7px;
}
.hbirth{
    margin-bottom: 10px !important;
}
.birthline{
    display: inline-block;
	width: 50%;
	margin-bottom: 2px;
}

.birthday .student-container:hover .detail{
    visibility: visible;
    opacity: 1;
    top: 70px;
    transition: 0.1s ease-out;
    -webkit-transition: 0.1s ease-out;

}
.birthday .detail{
    
    padding-top: 5px;


}
.birthday .detail p{
    color: #555;
    padding: 6px 5px;
    margin: 3px 0;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
    line-height: 0;
	font-size: 12px;

}
.birthday .detail p:hover{
    color: #005580;
    

}
/* impression */
@media print {
	/*#sidebar{
		display:hidden;
	}*/
}

.container-fluid{ /* Défini que la taille minimale de la fenêtre est de 370px */
  min-width: 380px;
}
.nav-collapse.collapse{ /* Défini le style du menu de navigation */
  position: static;
  width: auto;
  background: #292A2F;
}
.logo { /* Défini l'emplacement du logo de l'utilisateur */
  margin: 0 0 0 15px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{ /* Défini que la barre de navigation (la bande noire en haut du site) est collée à la fenêtre */
  padding: 0!important;
}
.navbar-fixed-top{ /* Défini la marge de la barre noire en haut du site */
  margin: 0!important;
}
.top-menu ul{ /* Défini l'espacement entre le bouton de navigation et kes deux boutons (notifications/déconnexion) en haut à droit lorsque la résolution est entre 0 et 797px */
  margin:0 15px 0 0;
}
/* Ludovic Delafontaine: Dès ici, je ne suis plus l'auteur de ces lignes. Je n'ai repris que les lignes du prédécesseur. Certaines propriétés sont nécessaires pour le bon fonctionnement de l'interface, mais je n'ai pas pris le temps de trier, désolé... */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  height: auto !important;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  padding-top: 45px;
  font-family: 'PT Sans','FontAwesome','Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f6f6f6;
}
h2{
  text-shadow:1px 1px 1px #FFFFFF;
}
a {
  color: #26AEF2;
}
a:focus{
  outline: none;
}
form{
  margin: 0;
}
input.focused{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
  position: relative;
  z-index: 2;
}
input.error, input.error:focus{
  border-color: rgba(226, 119, 90, 0.6);
  outline: 0 none;
  position: relative;
  z-index: 2;
}
input.error:focus{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(226, 119, 90, 0.6);
}
input.warning, input.warning:focus{
  border-color: rgba(244, 183, 112, 0.6);
  outline: 0 none;
  position: relative;
  z-index: 2;
}
input.warning:focus{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(244, 183, 112, 0.6);

}
input.success, input.success:focus{
  border-color: rgba(97, 204, 40, 0.6);
  outline: 0 none;
  position: relative;
  z-index: 2;
}
input.success:focus{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(97, 204, 40, 0.6);

}
input.knob{
  display: none;
}
input:required {
  background: #fff url('../img/asterisk.png') 98% center no-repeat;
  background-size: 0.99em;
}
input:focus:invalid,
textarea:focus:invalid {
  background: #fff url('../img/cross_circle.png') 98% center no-repeat;
  background-size: 1em;
  box-shadow: 0 0 5px #d45252 outset;
  -moz-box-shadow: 0 0 5px #d45252 outset;
  -webkit-box-shadow: 0 0 5px #d45252 outset;
}
input:focus:valid,
textarea:focus:valid {
  background: #fff url('../img/ok_circle.png') 98% center no-repeat;
  background-size: 1em;
  box-shadow: 0 0 5px #56c93f outset;
  -moz-box-shadow: 0 0 5px #56c93f outset;
  -webkit-box-shadow: 0 0 5px #56c93f outset;
}
input:valid,
textarea:valid {
  background-image: none;
}
.pad15{
  padding: 15px;
}
.form-actions{
  margin-bottom: 0;
}
.breadcrumb {
  background: none repeat scroll 0 0 transparent;
  margin: 0;
  padding: 8px 0;
}
.breadcrumb > li{
  text-shadow: none;
}
.heading{
  border-bottom: 1px solid #EBEBEB;
  margin: 0;
  padding: 0 0 15px;
  font-weight: normal;
}
.heading > a.btn{
  font-weight: normal;
  margin: 5px 0 0;
}
.box{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.container-narrow{
  width: 95%;
  max-width: 360px;
  margin: 5% auto;
}
.divider hr{
  margin: 18px 0;
  width: 40%;
}
.divider {
  color: #656564;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0 15px;
}
.avatar-20{
  width:20px;
  height:20px;
}
.avatar-50{
  width:50px;
  height:50px;
}
.inlinesparkline{
  color: #FFFFFF;
}
/* bootstrap-time-picker fix*/
.bootstrap-timepicker table td input{
    padding:2px;
    font-size:11px;
}
/* fix for box-sizing */
select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
    height: 30px;
}
.input-append .add-on, .input-prepend .add-on{
    height:30px;
    width: 30px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child{
  border-radius:1px;
}
.input-append .add-on, .input-prepend .add-on{
  width:30px;
  height:30px;
}
footer{
  text-align: center;
}
h4{
  text-transform: uppercase;
  font-weight: 300;
}
h4.header{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
}
#content{
  padding: 15px;
}
a:hover {
  text-decoration: none;
  text-transform: none;
}
.grey{
  color: #9d9da5;
  margin: 10px;
}
.dropdown-menu{
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
div.alert{
  margin: 15px;
}
.navbar .nav > li > a, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: white;
  background: #292A2F;
  text-shadow: none;
}
.navbar-inner{ filter:none;}

.info-link {
  color:#000;
}
/* Ludovic Delafontaine: Dès ici, je reprends le contrôle de ce que j'ai fait :) */
/****************************************************************************
Nom:	Phones
But:	Styles CSS pour les écrans ayant une résolution maximum de 480px
****************************************************************************/
@media (max-width: 480px) {
    /* Au besoin */
}
/****************************************************************************
Nom:	Tablets
But:	Styles CSS pour les écrans ayant une résolution maximum de 767px
****************************************************************************/
@media (max-width: 767px) {
    body{ /* Permet de coller le site aux bordures de la fenêtre */
      padding: 0;
	  height:100%;
    }
		.row-fluid [class*="span"] {
		float:left;
		}
     .navbar-fixed-top{ /* Permet de coller la barre de navigation en haut de l'écran */
      position: fixed;
    }
}
/****************************************************************************
Nom:	Tablets-Desktops
But:	Styles CSS pour les écrans ayant une résolution entre 768 et 979px
****************************************************************************/
@media (min-width: 768px) and (max-width: 979px) {
    .navbar-fixed-top{ /* Permet de coller la barre de navigation en haut de l'écran */
      position: fixed;
    }
}
/****************************************************************************
Nom:	Desktops
But:	Styles CSS pour les écrans ayant une résolution minimum de 980px
****************************************************************************/
@media (min-width: 980px) {
    .nav-collapse.collapse { /* Permet de créer le menu sur la gauche */
      position: fixed;
      height: 100% !important;
    }
    .main_container{ /* Permet de déplacer le contenu sur la droite */
      margin-left: 200px;
    }
}
/****************************************************************************
Nom: 	Calendar
Auteur: Ludovic Delafontaine - MIN3 2011-2015
Date:	13.01.2014
But: 	Styles CSS concernant la page d'horaire afin d'adapter le calendrier
*****************************************************************************
Modifications
Date  : XX.XX.XXXX
Auteur: -
Raison: -
A faire: -
****************************************************************************/
.fc { /* Permet d'avoir une marge tout autour du calendrier */
  margin: 20px;
}

/****************************************************************************
Nom:	Module Document
But:	Styles CSS de la page de téléversement de document
*****************************************************************************
Modifications
Date  : 17.01.2014
Auteur: James Smith - MIN3 2011-2015
Raison: - Amélioration pour les petites résolution
				- Changement de l'interface
				- Plus userfriendly
A faire: -
****************************************************************************/

.no-border {
  border: none;
}
.uncheck:valid {
  background: none !important;
}
.uncheck:invalid {
  background: none !important;
}
.document-container {
  padding: 10px;
}
/*Block principale ou l'on glisse les fichiers dedans*/
#dropbox {
  width: 100%;
  height: 100%;
	min-height:675px;
  border: 2px solid #ededed;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow:inherits;
  background-color: #fff;
}
/*Pour faire du drag and drop*/
#dropbox input[type='file'] {
  display: none;
}
/*Block qui apparait lors du drag and drop. Conteneur des informations*/
#dropbox .file {
	position:relative;
	float:left;
  margin-left:2%;
	margin-right:2%;
	margin-top: 10px;
	margin-bottom: 10px;
  width:96%;
  height: 100%;
  max-width: 500px;
  border: 2px solid #ededed;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#dropbox .file-componement{
	padding:15px;
}
#dropbox .exit-button {
	position:absolute; /*Important pour faire abstraction des autres div*/
	height:100%;
	width:100%;
	margin-left:0%;
}
/*Image du boutton fermer*/
#dropbox .status {
	float:right; /*Alignement à droite*/
	width:20px;
	height:20px;
}
/*********************************/
/*Information du fichier uploader*/
/*********************************/
/*Conteneur des informations: type de fichier, nom, bar d'upload*/
#dropbox .file-info {
  margin-left: 0px;
  height: 100px;
  width: 100%;
  line-height: 25px;
}
/*conteneur de l'icon du type de fichier (ex: pdf)*/
#dropbox .file-icon {
	float: left;/*Alignement à gauche du nom et de la bar d'upload*/
	margin-top: 5px;
	width: 100px;
	height: 100%;
  display:inline-block;
}
/*icon type de fichier*/
#dropbox .img-file {
	max-height: 80%;
}
/*conteneur du nom et de la bar d'upload*/
#dropbox .file-upload {
	position:relative;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
	margin-left:100px;
}
/*Nom du fichier*/
#dropbox .file-name {
	width: 100%;
	height: 70%;
	/*Permet de rajouter "..." lorsque le nom sort du conteneur*/
	white-space: nowrap;
	word-wrap:break-word;
	overflow:hidden;
  text-overflow:ellipsis;
}
/*Bar d'upload*/
#dropbox .progress-bar {
  display: inline-block;
  height: 20px;
  width: 100%;
  background-color: #5387BA;
  -webkit-box-shadow: inset 0 0 1px #ddd;
  -moz-box-shadow: inset 0 0 1px #ddd;
  -o-box-shadow: inset 0 0 1px #ddd;
  box-shadow: inset 0 0 1px #ddd;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
progress::-moz-progress-bar{
    background: #09c;
    -moz-transition: all 1s ease;
}
/*********************************/
/*Choix des propriétés du fichier*/
/*********************************/
/*conteneur des éléments ou l'on peut interagire*/
#dropbox .file-property {
	position:relative;
  margin-top: 20px;
  margin-left: 0px;
  height: 100%;
  width: 100%;
}
/*Groupe d'élément (ex: Sécurité + [Liste])*/
#dropbox .control-group {
	position:relative;
	width: 100%;
}
/*Les label*/
#dropbox .control-label {
	position:relative;
	padding-top:0px;
	text-align: left;
	float: left;
	width:100px;
}
/*les éléments (liste, textarea, etc)*/
#dropbox .big-input {
	position:relative;
	width: 100%;
	height:100%;
}
/*Text area de la déscription*/
#dropbox .Description-textarea {
	position:relative;
	width: 100%;
	height: 100px;
	resize: none; /*Taille inchangeable*/
}
/*Conteneur des élément*/
#dropbox .controls {
	margin-left: 100px;
}

/****************************************************************************
Nom:	Module Student
But:	Partie de styles CSS de la page de concernant les informations du student
*****************************************************************************
Modifications
Date  : 21.01.2014
Auteur: James Smith - MIN 2011-2015
Raison: Améliorations pour petites résolutions
A faire: -
****************************************************************************/
div.information{
  padding: 1px 0 0 120px;
  height: 113px;
  color: black;
  text-decoration: none;
}
div.information a:hover{
  text-decoration: none;
}
div.picture{
  width: 100px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
div.picture img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  float: left;
  margin-bottom: -5px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
div.post {
  position: relative;
  float: left;
  overflow: hidden;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
  width: 300px;
  padding: 20px;
}
div.post:not(.ui-selected):hover {
  background-color: white;
  /*transition: all 0.4s ease-in-out;
  transform: scale(10);
  -webkit-transition: all 0.4s ease-in-out;*/
}
div.post.opened {
  width: 48%;
  z-index:100;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
div.post:hover div.post-content {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
div.post:hover div.post-content.active {
  width:100%;
  bottom: 0 !important;
  top:inherit;
  left: 0;
  height: 130px;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
div.post a img.open {
  display: block;
}
div.post a img {
  width: 100%;
  float: left;
  margin-bottom: -5px;
  /*-webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;*/
}
#filters{
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 55px;
}
#filters ul.second{
  /*display: none;*/
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  float: left;
  padding: 10px;
  margin: 2px 0 0;
  background-color: #2f2f2f;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#filters > li:first-child{

}
#filters *{
  list-style: none;
  display: inline;
}
#filters li a:hover, #filters li a.active {
  color: #f7f7f7;
  background: #db7030;
}
#filters li a {
  color: #f7f7f7;
  background: #2f2f2f;
  transition: background-color .2s linear;
  display: inline-block;
  margin-bottom: 15px;
  padding: 2px 8px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
}
#filters li a.first{
  width: 70px;
}

.summary_box {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  margin-top: 60px;
  min-height: 180px;
  padding: 5px 10px;
}
.summary_box table {
  border-color: transparent;
}
.summary_box .mod_date {
  display: block;
  text-align: right;
  font-size: 10px;
  color: #9D9D9D;
}
/*Div des inforamations des élèves (coordonnées)*/
div.student-info{
	float: left;
}
div.student-summary{
	overflow:hidden;
}
/* * * * * * * * * * */
/***Document***/
/* * * * * * * * * * */
div.document-info{
	margin-right: 55px;
}
/*Style du titre*/
div.document-info-element{
	font-size: 14px; 
	margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
/*Permet de rajouter "..." lorsque le nom sort du conteneur*/
	white-space: nowrap;
	word-wrap:break-word;
	overflow:hidden;
  text-overflow:ellipsis;
}
div.file-uploaded{
	line-height:15px
}
select.doc-filter {
	margin-top:10px;
	margin-right:5px;
	margin-bottom:0px;
	width: 210px;
	float:right;
}
/****************************************************************************
Nom:	Module Student
But:	Partie de styles CSS de la page de concernant les informations du student
*****************************************************************************
Modifications
Date  : 21.01.2014
Auteur: James Smith - MIN 2011-2015
Raison: Améliorations pour petites résolutions
A faire: -
****************************************************************************/
div.action-button-student{
	right:0px;
	position: absolute;
	margin:10px;
}
div.information{
  padding: 1px 0 0 120px;
  height: 113px;
  color: black;
  text-decoration: none;
}
div.information a:hover{
  text-decoration: none;
}
div.picture{
  width: 100px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
div.picture img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  float: left;
  margin-bottom: -5px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

div.post {
  position: relative;
  float: left;
  overflow: hidden;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
  width: 300px;
  padding: 20px;
}
div.post:not(.ui-selected):hover {
  background-color: white;
  /*transition: all 0.4s ease-in-out;
  transform: scale(10);
  -webkit-transition: all 0.4s ease-in-out;*/
}
div.post.opened {
  width: 48%;
  z-index:100;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
div.post:hover div.post-content {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
div.post:hover div.post-content.active {
  width:100%;
  bottom: 0 !important;
  top:inherit;
  left: 0;
  height: 130px;
  /*-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;*/
}
div.post a img.open {
  display: block;
}
div.post a img {
  width: 100%;
  float: left;
  margin-bottom: -5px;
  /*-webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;*/
}
#filters{
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 55px;
}
#filters ul.second{
  /*display: none;*/
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  float: left;
  padding: 10px;
  margin: 2px 0 0;
  background-color: #2f2f2f;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#filters > li:first-child{

}
#filters *{
  list-style: none;
  display: inline;
}
#filters li a:hover, #filters li a.active {
  color: #f7f7f7;
  background: #db7030;
}
#filters li a {
  color: #f7f7f7;
  background: #2f2f2f;
  transition: background-color .2s linear;
  display: inline-block;
  margin-bottom: 15px;
  padding: 2px 8px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
}
#filters li a.first{
  width: 70px;
}
#filters input{

  transition: background-color .2s linear;
  display: inline-block;
  margin-bottom: 0px;
  padding: 2px 8px;
  font-size: 10px;
  height: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  border: 0;
}
#filters input:hover{
  outline: 0;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.summary_box {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  margin-top: 0px;
  min-height: 180px;
  padding: 5px 10px;
}
.summary_box table {
  border-color: transparent;
}
.summary_box .mod_date {
  display: block;
  text-align: right;
  font-size: 10px;
  color: #9D9D9D;
}
div.small-top{
	margin-top:15px;
}
/* * * * * * * * * * */
/***Document***/
/* * * * * * * * * * */
div.document-info{
	margin-right: 55px;
}
/*Style du titre*/
div.document-info-element{
	font-size: 14px; 
	margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
/*Permet de rajouter "..." lorsque le nom sort du conteneur*/
	white-space: nowrap;
	word-wrap:break-word;
	overflow:hidden;
  text-overflow:ellipsis;
}
div.file-uploaded{
	line-height:15px
}
select.doc-filter {
	margin-top:10px;
	margin-right:5px;
	width: 210px;
	float:right;
}
/****************************************************************************
Nom:	Module Search
But:	Partie de styles CSS de la page de recherche
*****************************************************************************
Modifications
Date  : 21.01.2014
Auteur: James Smith - MIN 2011-2015
Raison: Améliorations du design de la page
A faire: -
****************************************************************************/
/*Champ de recherche*/
input[type="text"].search{
  height: 100px;
  font-size: 60px;
  width: 100%;
  margin-top: 5px;
  box-shadow: none;
	border-bottom-style:dotted;
	border-top:none;
	border-left:none;
	border-right:none;
  resize: none;
  line-height: 100px;
  background: transparent;
  text-transform: uppercase;
}
.row-fluid .span8 {
    width: 100%;
}
#HeadSearch em{
  color: #897d71;
}
.result-box h3{
  color: #6F6F6F;
  border-bottom: 1px solid #FFF;
}
.result-box h3::after {
  display: block;
  border-bottom: 1px solid #CCC;
  content: ' ';
}
.itemPicture > img{
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.itemPicture{
  float: left;
  height: 100%;
}
div.itemInfo{

}
#results li{
  height: 70px;
}
#results li:hover{
  background-color: white;
  /*transition: all 0.4s ease-in-out;
  transform: scale(10);
  -webkit-transition: all 0.4s ease-in-out;*/
}
#results ul{
  list-style: none;
}
.itemInfo h6{
  margin-bottom: 0px;
}
.itemInfo a, .itemInfo h6 a{
  padding: 0 15px;
  color: black;
}
.itemInfo a:hover, .itemInfo h6 a:hover{
  text-decoration: none;
}
#ajax-loader{
  display: none;
}
/****************************************************************************
L. Delafontaine + J. Smith: Dès ici, territoire inconnu...
****************************************************************************/

/****************************/
/*
/*--------- footer ---------*/
/*
/****************************/
footer{
  padding: 20px 0;
}
span#dev{
  cursor: pointer;
}
span#name{
  display: none;
}
/****************************/
/*
/*---------- TABS ----------*/
/*
/****************************/
.widget-header .nav.nav-tabs {
    margin: 0;
    border: medium none;
    float: left;
}
.widget-header .nav-tabs > li{
  margin: 0;
}
.widget-header .nav.nav-tabs li > a{
  border: medium none;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 15px;
  position: relative;
  background: transparent;
  line-height: 33px;
}
.widget-header .nav.nav-tabs li > a i{
  margin-right: 5px;
}
.widget-header .nav.nav-tabs li > a:hover{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #444444;
}
.widget-header .nav-tabs > .active > a:after {
  border-color: transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 8px;
  bottom: -1px;
  content: "";
  height: 0;
  left: 50%;
  margin: 0 -4px;
  position: absolute;
  width: 0;
}
/*buttons*/
.navbar .btn.btn-navbar{
  background: #eeeeee;
  margin: 7px 5px 7px 0;
}
.btn-circle{
  border-radius:50px;
  width:20px;
  height:20px;
  padding:0;
}
/*  gallery  */
.gallery-item {
  display: inline-block;
  margin-bottom: 6px;
  vertical-align: top;
}
/******************************/
/*
/*--- Top menu Notification --*/
/*
/******************************/
.top-menu .popover.bottom .arrow:after {
    border-bottom-color: #F7F7F7;
}
.top-menu .popover{
  width:300px;
}
.top-menu .popover-content{
  padding:0;
}
.top-menu .popover-content ul{
  width: 100%;
}
.top-menu .popover-content li:hover{
  background-color:#fafafa;
}
.top-menu .popover-content li{
  display:block;
  border-bottom:1px solid #DDD;
  line-height: 18px;
  width:100%;
}
.top-menu .popover-content li:last-child{
  border-bottom: none;
}
.top-menu .popover-content li a{
  padding: 7px 5px 7px 45px;
  font-size: 11px;
  display: block;
  color: #333;
  line-height: 15px;
  text-decoration: none;
}
.top-menu .popover-content li a h4{
  display: block;
  font-size:12px;
  font-weight:bold;
  margin:0;
}
.top-menu .popover-content li a span{
  display: block;
  font-size:10px;
  color: #A8A8A8;
  float:right;
}
.top-menu .popover-content li a img{
  height: 35px;
  left: 5px;
  position: absolute;
  width: 35px;
}
.top-menu .popover-content .popover_footer a{
  background: none repeat scroll 0 0 #F7F7F7;
  border-top: 1px solid #EBEBEB;
  color: #444444;
  display: block;
  font-size: 12px;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
}
.top-menu .popover-content .popover_footer a:hover{
  background: none repeat scroll 0 0 #EDEDED;
}
 /* hide bubble if the data attribute value is 0 */
.top-menu li a[data-notification="0"]:after {
  display: none;
}
.top-menu li a[data-notification]:after {
  background-image: linear-gradient(bottom, rgb(199,24,33) 0%, rgb(245,71,71) 100%);
  background-image: -o-linear-gradient(bottom, rgb(199,24,33) 0%, rgb(245,71,71) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(199,24,33) 0%, rgb(245,71,71) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(199,24,33) 0%, rgb(245,71,71) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(199,24,33) 0%, rgb(245,71,71) 100%);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(199,24,33)),color-stop(1, rgb(245,71,71)));
  border: 1px solid #751616;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  content: attr(data-notification);
  font-size: 11px;
  font-weight: bold;
  min-width: 10px;
  padding: 2px 3px;
  position: absolute;
  right: 1px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  top: 2px;
  line-height: 13px;
}
/****************************/
/*
/*--- DataTables - Dynamic ---*/
/*
/****************************/
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }
.dataTables_filter{
  text-align: right;
}
/****************************/
/*
/*-------- User Side --------*/
/*
/****************************/
.user_side{
  padding: 15px 10px 10px 15px;
  margin: 0;
  background-color: #3D3E43;
}
.user_side img{
  float:left;
  width:50px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  margin: 0 15px 15px 0;
}
.user_side h4{
  color: white;
  line-height: 16px;
  margin: 10px 0 0;
}
.user_side a{
  color:#FFFFFF;
  font-size: 11px;
}
.navbar .nav li.dropdown > .connect{
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-shadow: none;
}
.navbar .nav li.dropdown.open > .connect{
  background-color: #292A2F;
  color: white;
}
/****************************/
/*
/*------- Navbar -------*/
/*
/****************************/
#profile img.profile{
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#coordonnee{
  border-top: 1px dashed;
  border-color: #9d9da5;
  padding: 10px;
  text-align: center;
  margin: 30px 0;
}
div.second td{
  padding: 5px;
}
.overview_boxes {
  text-align: center;
  margin-top: 15px;
  min-height: 208px;
}
.overview_boxes .box_row{
  display: none;
}
.overview_boxes .box_row > div{
  float: left;
  margin: 0 30px 15px 0;
  text-align: center;
}
.overview_boxes .box_row:last-child > div:last-child{
  margin-right:0;
}
.overview_boxes .userstats.clearfix {
    margin: 0;
}
.box_row {
  display: inline-block;
}
.overview_boxes h2{
  color: #333;
  font-size: 26px;
  line-height: 30px;
  margin: 5px 0 0;
}
.overview_boxes p{
  color: #888;
  font-size:14px;
  margin: 0;
}
.overview_boxes .widget-tasks-statistics{
  margin-left:15px;
}
.circle i{
  color: #333333;
  display: block;
  font-size: 60px;
  height: 120px;
  line-height: 120px;
  width: 120px;
}
.circle{
  background-color: #FFFFFF;
  border-radius: 120px;
  display: inline-block;
  border: 1px solid #ccc;
}
/* ----------- Tasks page ----------- */
.widget-tasks-progress{
  padding:25px;
  text-align: center;

}.widget-tasks-progress .circle{
  margin:0 5px;
  display:inline-block;
}
.widget-tasks-progress .userstats {
  position:relative;
  display:inline-block;
  text-align: center;
}
.widget-tasks-progress .userstats div{
  display:inline-block;
}
.widget-tasks-progress .userstats img{
  position:absolute;
  z-index: 0;
  width:60px;
  left:20px;
  top:20px;
  border-radius:60px;
}
.widget-tasks-assigned ul{
  list-style: none;
  padding:0;
  margin:0;
}
.widget-tasks-assigned ul > li{
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  color: #9D9D9D;
  display: block;
  font-size: 11px;
  height: 80px;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.widget-tasks-assigned .content{
  color: #62687E;
  float: left;
  font-size: 13px;
  padding-top: 5px;
  padding-left:10px;
  padding-right: 10px;
  width: 70%;
}
.widget-tasks-assigned .content h5{
  font-size:15px;
  color: #62687E;
  margin:0;
}

 .widget-tasks-assigned .content span{
  font-size:11px;
 }
 .widget-tasks-assigned .rightboxes {
  position:relative;
  right:0;
  float:right;
  width: 30%;
 }
 .widget-tasks-assigned .rightboxes li{
  border-left: 1px solid #DDDDDD;
  float: left;
  font-size: 18px;
  padding: 15px 10px;
  text-align: center;
  width: 50%;
 }
 .widget-tasks-assigned .rightboxes li span{
  color: #CCCCCC;
  display: block;
  font-size: 14px;
  margin-top: 5px;
 }
.widget-tasks-assigned .info{
  background: none repeat scroll 0 0 white;
  bottom: 10px;
  left: 10px;
  position: absolute;
}
.widget-tasks-assigned .info .date{
  color: #9D9D9D;
  font-size: 10px;
  float:right;
  margin-right: 10px;
}
.widget-tasks-assigned .info img{
  float:left;

}
.widget-tasks-assigned .progress{
  border-radius: 0;
  bottom: 0;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  width: 100%;
}
.widget-tasks-statistics {
  text-align: center;
}
.widget-tasks-statistics .userstats {
  position:relative;
  display:inline-block;
  margin: 0 30px 10px;
}
.widget-tasks-statistics .userstats .image{
  border-radius: 60px 60px 60px 60px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 45px;
  opacity: 1;
  padding:0;
}
.widget-tasks-statistics .userstats .white{
  background: none repeat scroll 0 0 white;
  border-radius: 60px 60px 60px 60px;
  font-size: 40px;
  left: 15px;
  opacity: 1;
  padding: 15px;
  position: absolute;
  top: 15px;
  z-index: -1;
  width: 90px;
  height: 90px;
  border: 1px solid #DDDDDD;
}
.widget-tasks-statistics .userstats a:hover{
  text-decoration: none;
}
.widget-tasks-statistics .userstats .white p{
  font-size:14px;
  color:#555555;
}
.widget-tasks-statistics .userstats p strong{
  display:block;
  font-size:16px;
}
/****************************/
/*
/*------- Navbar -------*/
/*
/****************************/
.navbar-fixed-top .navbar-inner{
  height: 45px;
  background: #292A2F;
  border: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
  box-shadow: none;
  padding-right: 30px;
}
.logo {
  float: left;
  padding: 9px 0 0;
  color: white;
  font-size: 20px;
}
.logo a{
  color: white;
}
.container-fluid {
  padding: 0;
  position: relative;
}
#wrap {
  height: auto !important;
  min-height: 100%;
}
.main_container{
  position: relative;
  margin-top: 15px;
}
.main_container > .row-fluid{
  margin-bottom:25px;
}
/****************************/
/*
/*------- Top Menu -------*/
/*
/****************************/
.top-menu ul{
  list-style: none;
  margin: 0;
}
.top-menu > ul > li{
  float: left;
}
.top-menu > ul > li > a{
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}
/****************************/
/*
/*------- Side Menu -------*/
/*
/****************************/
.b_F79999:hover, .b_F79999.active{
  border-left: 2px solid #F79999;
}
.b_C3F7A7:hover, .b_C3F7A7.active{
  border-left: 2px solid #C3F7A7;
}
.b_9FDDF6:hover, .b_9FDDF6.active{
  border-left: 2px solid #9FDDF6;
}
.b_F6F1A2:hover, .b_F6F1A2.active{
  border-left: 2px solid #F6F1A2;
}
.b_C1F8A9:hover, .b_C1F8A9.active{
  border-left: 2px solid #C1F8A9;
}
.b_9FDDF6:hover, .b_9FDDF6.active{
  border-left: 2px solid #9FDDF6;
}
.b_F5C294:hover, .b_F5C294.active{
  border-left: 2px solid #F5C294;
}
.accordion-heading{
  background: #292A2F;
}

.accordion-heading:hover{
	background-color:#3D3E43;
}

.accordion-heading a{
  border-left: 2px solid #292A2F;
  border-bottom: 1px dashed #313131;
}
.accordion-group a{
  display: block;
  padding: 8px 15px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.accordion-group{
  border: none;
  border-radius: 0;
}
.accordion-inner{
  background-color: #3D3E43;
  border: none;
  padding: 9px 0;
}
.accordion-inner a{
  border-left: 2px solid #3D3E43;
}
.accordion-inner a:hover, .accordion-inner a.active{
  border-left: 2px solid #76777C;
}
.sidebar-nav .accordion-toggle.collapsed[data-toggle]:before, .sidebar-nav .accordion-toggle[data-toggle]:before{
  position: absolute;
  right: 15px;
  top: 10px;
}
.sidebar-nav .accordion-toggle.collapsed[data-toggle]:before{
  content:"\f054";
}
.sidebar-nav .accordion-toggle[data-toggle]:before{
  content:"\f078";
}

@media (max-width: 979px)
{ 
	#sidebar{
		position:fixed;
		width:100%;
		z-index:100;
	}
}

/****************************/
/*
/*----- Custom Boostrap -----*/
/*
/****************************/
.btn{
  border-radius:2px;
  background-image:none !important;
}
.btn.btn-primary{
  background-color: #2D9AF9;
  background-image:none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #3074FC;
}
.btn-info {
  background-color: #42C1F7;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #4FB6D4;
}
.btn-success {
  background-color: #7BD77B;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #71C371;
}

/****************************/
/*
/*--------- Stream ---------*/
/*
/****************************/
#stream .item img.avatar {
  border-radius: 4px;
  margin-left: -40px;
  margin-bottom: -40px;
  height: 50px;
  position: relative;
  top: 10px;
  right: 20px;
  float: left;
}
#stream .item p.date {
padding: 0;
float: right;
margin-top: 10px;
}
#stream .item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px 30px 60px;
}
#stream{
  margin-left: 0;
}
#stream .item .stream-icon{
display: inline-block;
background-color: #CCC;
border-radius: 4px;
height: 50px;
width: 38px;
text-align: center;
margin-left: -40px;
margin-bottom: -40px;
position: relative;
top: 15px;
right: 20px;
float: left;
}
#stream .item .stream-icon i {
margin-top: 17px;
color: #fff;
position: absolute;
left: 12px;
}
#stream .item .stream-warning {
background-color: #ffa93c;
}
#stream .item .stream-success {
background-color: #4cb158;
}
#stream .item .stream-danger {
background-color: #ea494a;
}
#stream .item .stream-info {
background-color: #14b8d4;
}
#stream .item:hover {
  background-color: #f9f7f7;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.widget #stream .item {
  padding: 10px 30px 30px 80px;
}
/****************************/
/*
/*--------- Events ---------*/
/*
/****************************/
.event div.picture{
  width: 50px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.event div.information{
  padding: 0px 0 0 60px;
  height: auto;
  line-height: 10px;
  height: 77px;
}
.event div.post{
  padding: 0px 20px;
}
.event div.ui-selected{
  background: #db7030;
}
#second-step{
  position: fixed;
  top: 80%;
  right: 2%;
  z-index: 999;
  display: none;
}
.caddy-number{
  padding: 15px 0px 15px 0px;
}
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
/****************************/
/*
/*--------- Choice ---------*/
/*
/****************************/
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    perspective: 900px;
}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ch-info-front{
  background: #000;
}
.back-info .ch-info-front {
  box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}
.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background: #000;
  opacity: 0;
}
.ch-info h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 0 15px;
  padding: 60px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow:
    0 0 1px #fff,
    0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
  color: #fff;
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
.ch-info p a:hover {
  color: #fff222;
  color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}
.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}
/******************************/
/*
/*------- full-preview -------*/
/*
/******************************/
#full-preview{
  z-index: 9999;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}
#full-preview .close {
  float: right;
  font-size: 60px;
  opacity: 0.8;
  filter: alpha(opacity=20);
  color: black;
  font-weight: normal;
  padding: 15px;
  margin: 20px;
}
#full-preview .close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
#full-preview-info{
  position: fixed;
  background: white;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: auto;
  float: right;
  width: 60%;
}
#full-preview-picture{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 992;
  overflow: hidden;
}
#full-preview-info-container{
  top: 0px;
  height: 100%;
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 100%;
}
.full-preview-picture-holder {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  background-color: #000000;
  width: 65%;
}
.full-preview-picture-holder img{
  float: right;
}
.full-width-info-holder{
  position: relative;
  float: left;
  height: 100%;
  margin: 9%;
  width: 82%;
}
.shadow-side-left {
  -moz-box-shadow: -1px 1px 2px #0c0c0c;
  -webkit-box-shadow: -1px 1px 2px #0c0c0c;
  box-shadow: -1px 1px 2px #0c0c0c;
}
#full-close{
  float: right;
  font-size: 60px;
  opacity: 1;
  filter: alpha(opacity=100);
  color: white;
  font-weight: normal;
}
.modal-backdrop.fade {
  opacity: 0;
}

.modal.fade {
  pointer-events: none;
}

.in {
  pointer-events: auto!important;
}

/* ----------- Widget ----------- */
.widget-top{
    text-align:center;
}
.widget-top .circle{
    display:inline-block;
    margin:0 10px;
}
.widget{
    /*margin-bottom: 15px;   */
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
.widget-padding .widget-body{
    padding:15px;
}
.widget-body td.two-row {
  padding-top: 2px;
  padding-bottom: 2px;
}
.widget-footer{
    background-color: #efefef;
    padding: 10px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
}
.widget-footer:after{
   clear: both;
}
.widget-footer:after, .widget-footer:before{
    content: "";
    display: table;
    line-height: 0;
}
.widget-header{
    background-color: #efefef;
    min-height: 51px;
    border:1px solid #DDDDDD;
    position: relative;
}
.widget-header > i, .widget-header h5{
    float: left;
    color: #62687e;
    font-weight:200;
}
.widget-header > i{
    font-size: 16px;
    padding: 15px 10px 15px 11px;
    text-align: center;
    width: 40px;
}
.widget-header a, .widget-header .nav-tabs a{
    color: #777777;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 0 8px;
    text-decoration: none;
}
.widget-header a:hover{
    color: #333;
}
.widget-header .progress{
  margin: 14px 0px;
  width: 30%;
  position: absolute;
  right: 15px;
}
.widget-header a.widget-hidden i{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.widget-header h5{
    margin: 0;
    padding: 15px 0 0;
    font-size: 16px;
}
.widget-header .btn-group{
    float: right;
    margin: 7px;
}
.widget-header-under{

    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    clear: both;
    font-size: 11px;
    text-align: center;
    padding:4px;
}
.widget-buttons{
    float:right;
    padding: 15px 15px 0 0;
}
.widget-buttons button{
  margin-top:-5px;
}
.widget-body{
    padding: 0;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ccc;
    background-color: #fff;
}
.widget-body .table strong{
    color:#E28271;
}
.widget-body .table{
    margin-bottom: 0;
}
.widget-header:before, .widget-header:after {
    content: "";
    display: table;
    line-height: 0;
}
.widget-header:after {
    clear: both;
}
/*----------- items ----------- */
.comment-bubble{
    background: none repeat scroll 0 0 #F3F6F7;
    border: 1px solid #D5D8DF;
    border-radius: 3px 3px 3px 3px;
    display: block;
    margin: 15px 10px 20px 70px;
    padding: 5px;
    position: relative;
}
.the-icons{
    list-style: none;
}
.the-icons i{
    font-size: 20px;
}
.btn.btn-box{
    padding:20px;
    border-radius:0;
    color:#555555;
    position: relative;
    /*margin-bottom: 15px;*/
}
.btn.btn-box span{
    display:block;
}
.btn.btn-small.btn-box{
    padding:10px 0;
}
/* custom bootstrap design */
.btn{
  border-radius:2px;
  background-image:none !important;
}
.btn.btn-primary{
  background-color: #2D9AF9;
  background-image:none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #3074FC;
}
.btn-info {
  background-color: #42C1F7;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #4FB6D4;
}
.btn-success {
  background-color: #7BD77B;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #71C371;
}
/* ----------- tickets -----------*/
.widget-tickets ul{
    margin:0;
}
.widget-tickets ul li:last-child{
  border-bottom: none;
}
.widget-tickets ul li{
    border-bottom: 1px solid #DDDDDD;
    color: #9D9D9D;
    display: block;
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-left: 12px;
}
.widget-tickets ul li a{
    display:block;
    text-decoration: none;
    color: #9D9D9D;
}
.widget-tickets ul li:hover{
    background:#fafafa;
}
.widget-tickets .avatar{
    float:left;
    margin-right:10px;
    border-right: 1px solid #DDDDDD;
    width: 50px;
    height: 50px;
}
.widget-tickets h4{
    font-size:15px;
    color: #62687E;
}
.widget-tickets h5{
    padding-top:5px;
    font-size:13px;
    margin:0;
    color: #62687E;
}
.widget-tickets p{
  overflow:hidden;
}
.widget-tickets .date,
.widget-tickets .mod {
    color: #9D9D9D;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.widget-tickets .action {
  width: 70px;
}
.widget-tickets .action a {
    display: inline-block;
    width: 35px;
}

.widget-tickets .settings {
    position:relative;
    text-align:right;
}
.widget-tickets .settings a{
    font-size:10px;
    margin-left:5px;
    display:inline;
    color:#26AEF2;
}
.widget-tickets .nearby-btn {
    margin-right: 45px;
}
.widget-tickets .btn{
    color: #62687e;
    font-size: 14px;
}
.widget-tickets.widget-tickets-large ul li {
    padding:15px;
    height:auto;
}
.widget-tickets.widget-tickets-large .username
{
    font-size:10px;
    position: relative;
    text-align: right;
}
/******************************/
/*
/*----- CKE Editor ----*/
/*
/******************************/
.cke_top {
  background: #efefef !important;
  border-bottom: 1px solid #ccc !important;
  box-shadow: none !important;
}
.cke_button_on {
  box-shadow: none !important;
}
.cke_toolgroup {
  border-radius: 0 !important;
  border: 1px solid #ccc !important;
}
.cke_chrome {
  border: 1px solid #ccc !important;
}
/******************************/
/*
/*----- Isotope Filtering ----*/
/*
/******************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/***********************************/
/*
/*---- Isotope CSS3 transitions ---*/
/*
/***********************************/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/****************************/
/*
/*------ imgAreaSelect CSS ----*/
/*
/****************************/
.imgareaselect-border1 {
  background: url(../img/border-anim-v.gif) repeat-y left top;
}
.imgareaselect-border2 {
    background: url(../img/border-anim-h.gif) repeat-x left top;
}
.imgareaselect-border3 {
    background: url(../img/border-anim-v.gif) repeat-y right top;
}
.imgareaselect-border4 {
    background: url(../img/border-anim-h.gif) repeat-x left bottom;
}
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-handle {
    background-color: #fff;
  border: solid 1px #000;
    filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-outer {
  background-color: #000;
    filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-selection {
}
#studentPicture {
  display: block;
  padding: 4px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
#studentPicture .uploadInfo {
  text-align: center;
  display: block;
  vertical-align: middle;
  margin-top: 80px;
  font-size: 200%;
  color: #999;
}
#studentPicture,
#studentPicture img{
  height: auto;
  width: auto;
  max-width: 100%;
  min-width: 240px;
  min-height: 180px;
	float:none;
}
label {
  width: 100%;
}
label input {
  width: 100%;
}
label select {
  text-align:left;
  width: 100%;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/***********************************/
/*
/*----LISTE DES CLASSES         ---*/
/*
/***********************************/
.thumbnailsClassList {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnailsClassList:before,
.thumbnailsClassList:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnailsClassList:after {
  clear: both;
}

.row-fluid .thumbnailsClassList {
  margin-left: 0;
}

.thumbnailsClassList > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnailClassList {
  display: block;
  padding: 4px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 20px;
  border: 1.5px solid #ddd;
  background-color: #E6E6E6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;          
}
.thumbnailClassList:hover
{
  background-color:#FDFEEF;
}
a.thumbnailClassList {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnailClassList > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnailClassList .caption {
  padding: 9px;
  color: #555555;
  background-color: #F7F7F7;
}

.thumbnailsClassList h3{
  color: #6F6F6F;
  border-bottom: 1px solid #FFF;
}
.thumbnailsClassList h3::after {
  display: block;
  border-bottom: 1px solid #CCC;
  content: ' ';
}

/* Filtre horaire */
.well-filter{
  background-color: #FFF;
  width: 400px;
  margin-left:20px;
  margin-bottom: -15px;

}
.slcFilterColleague{
  width:150px;
  padding: 4px 0 4px 0 !important;
  margin-right:20px;
}

.slcFilterClass{
  width:150px;
  margin-right:20px;
  padding: 4px 0 4px 0 !important;
}


/*CSS POUR L'IMPRESSION*/
@media print
{
  #widget-follow
  {
  display: none;
  }

  #widget-document
  {
   display: none; 
  }
  
  .print-hidden
  {
    display: none; 
  }
  
  .navbar-inner
  {
    display: none; 
  }
  
  .navbar
  {
    display: none; 
  }
  
 #sidebar
  {
    display: none; 
  }
}

div.header-print
{
  display: none;
}
.printDetail
{
  display: none;
}

div.footer-print
{
  display: none;
}

/***** cHECKBOX ******/

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}